<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Licence Reminder</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-md bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Structured</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/subscriptions}">New Subscription</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 justify-content-center card">
            <h1 class="text-center">
                Create New Subscription
            </h1>
            <div class="card-body">
                <form th:action="@{/subscriptions}" th:object="${subReminder}" method="POST">
                    <div class="form-group">
                        <input
                                type="text"
                                name="name"
                                th:field="*{name}"
                                placeholder="Enter Staff Name"
                                class="form-control"
                        />
                    </div>

                    <div class="form-group">
                        <input
                                type="text"
                                name="department"
                                th:field="*{department}"
                                placeholder="Chose your Department"
                                class="form-control"
                        />
                    </div>

                    <div class="form-group">
                        <input
                                type="text"
                                name="permit-name"
                                th:field="*{licensePermitName}"
                                placeholder="License name"
                                class="form-control"
                        />
                    </div>

                    <div class="form-group">
                        <input
                                type="text"
                                name="description"
                                th:field="*{description}"
                                placeholder="Description"
                                class="form-control"
                        />
                    </div>

                    <div class="form-group">
                        <input
                                type="date"
                                name="expiryDate"
                                th:field="*{expiryDate}"
                                placeholder="Enter expiry Date"
                                class="form-control"
                        />
                    </div>

                    <div class="form-group">
                        <input
                                type="email"
                                name="email"
                                th:field="*{email}"
                                placeholder="Choose group email"
                                class="form-control"
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn-primary mt-2">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>