* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 400 14px Poppins, Inter;
    text-shadow: 0.3px 0.4px 0.4px rgba(0, 0, 0, 0.3);
    color: black;
    background-color: white;
}
button {
    cursor: pointer;
}
.flex {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    /*margin-left:4px;*/
    /*margin-left:0.5rem;*/
}
.sidebar {
    min-height: 100vh;
    width: 230px;
    background: #f68633;
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    /* border:red solid 2px; */
}
.license-sidebar{
    color: #FFFFFF;
    font: 600 20px Poppins, sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.logo{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius:16px;
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-top: 30%;
}

ul li {
    width: 100%;
}

ul li > a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

ul li > a.active {
    background: #ffffff;
}

/* MAIN Styles */
main {
    margin-left: 230px;
    padding: 0.5rem 2rem;
    /* border:2px solid black; */
}
nav h1{
    color: #343C6A;
    font: 600 25px Poppins, sans-serif;
    text-shadow: 0.3px 0.3px 0.3px rgba(0, 0, 0, 0.3);
    text-align:center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
    /* border:solid pink 2px; */
}
.actions {
    display: flex;
    gap: 1rem;
    /* border:solid 2px green; */
}
.actions > li > a{
    /* box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
nav .actions input {
    height: 45px;
    border: 0;
    background-color: #F5F7FA;
    padding: 0 1rem;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
nav .actions button {
    height: 45px;
    width: 45px;
    border: 0;
    background-color: #f5f7fa;
    border-radius: 25px;
    padding: 0.3rem;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    place-items: center;
}

/* ROW 1 */
.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:solid 2px blue; */

}
.metrics {
    display: flex;
    background-color: #f68633;
    padding: 1rem;
    border-radius: 8px;
    color: #ffffff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    /* border:solid 2px skyblue; */

}
.metrics > .metric {
    text-align: center;
    border-right: 1px solid #ffffff50;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    /* border:solid 2px grey; */

}
.metric .count {
    font-size: 1rem;
    font-weight: 700;
    /* border:dotted 2px grey; */
}

.metrics > .metric:nth-last-child(1) {
    padding-left: 1rem;
    border-right: 0;
}

/* TABS */
.tabs {
    margin-top: 5%;
    display: flex;
    padding-right: 4rem;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
     /*border:solid orange 2px;*/
}
.tabs > div .tab {
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    background: #EDEBF2;
    color: #13123A;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    /* border:dotted orange 2px; */

}
.tab.active {
    background: #edebf2;
    color: #13123A;
    /* border:dashed blue 2px; */

}
.add-button{
    background: #f68633;
    padding: 0.7rem 1rem;
    border: 0;
    text-decoration: none;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    /* border:dashed grey 2px; */
}
.add-button:hover {
    background-color: #ec6a0a;
}


/* TABLE */
table {
    border-radius: 2rem;
    /*border: 1px solid #00000030;*/
    margin-top: 1rem;
    padding: 1rem;
    border-spacing: 0;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
table th {
    font: 600 18px Poppins, sans-serif;
    text-align:center;
}
table tr{
    padding:0 10rem 0 4rem;
    font: 250 12px Poppins, sans-serif;
}
table th,
table td {
    text-align: left;
    padding: 0.6rem 0;
    border-bottom: 1px solid #00000020;
}
table tr:nth-last-child(1) th,
table tr:nth-last-child(1) td {
    border-bottom: 0;
}
table th:nth-child(1),
table td:nth-child(1) {
    width: 15%;
}
table th:nth-child(2),
table td:nth-child(2) {
    width: 15%;
}
table th:nth-child(3),
table td:nth-child(3) {
    width: 15%;
}
table th:nth-child(4),
table td:nth-child(4) {
    width: 17%;
}
table th:nth-child(5),
table td:nth-child(5) {
    width: 10%;
}
table th:nth-child(6),
table td:nth-child(6) {
    width: 22%;
}
table th:nth-child(7),
table td:nth-child(7) {
    width: 10%;
}
/*.paid-tag {*/
/*    text-decoration: none;*/
/*}*/
.pending-tag {
    border: 1px solid #F68633;
    padding: 4px;
    border-radius: 20px;
    font: 500 13px Poppins Inter;
    text-align: center;
    color: #F68633;
    text-decoration: none;
    width: 100%;
}

.active-tag {
    border: 1px solid #1E8842;
    padding: 4px;
    border-radius: 20px;
    font: 500 13px Poppins Inter;
    text-align: center;
    color: #1E8842;
    text-decoration: none;
    width: 100%;
}

.overdue-tag {
    border: 1px solid #FF4040;
    background-color: #FF4040;
    padding: 5px;
    border-radius: 20px;
    font: 500 13px Poppins Inter;
    text-align: center;
    color: white;
    text-decoration: none;
    width: 100%;
}
.pagination-container {
    display: flex;
    justify-content: right;
    gap:1rem;
    color:#F68633;
    margin: 0.3rem 1rem;
    padding: 1rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}
.link{
    text-decoration: none;
    /*color: #F68633;*/
}
.pagination-container .active.link:hover {
    color:black;
}
.pagination-container .active:active {
    color:black;
    border-bottom: black 2px solid;
}